*{
  margin: 0;
}
.App {
  text-align: center;
}
.header{
  background-color: mintcream;
  height: 100px;
  padding: 20px 0;
  box-sizing: border-box;
}
.header>ul{
  list-style: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.header>ul>li{
  margin: 20px;
  font-weight: 700;
  font-size: 18px;
}
.home, .comp{
  background-color: bisque;
  height: 500px;
  padding: 20px 0;
}
.home>h2, .comp>h2{
  padding: 10px 0;
}
.comp1{
  background-color: rgb(255, 255, 201);
}
.comp2{
  background-color: rgb(172, 218, 248);
}
.comp3{
  background-color: darksalmon;
}
.footer{
  background-color: rgb(86, 15, 15);
  height: 50px;
  padding: 15px 0;
  box-sizing: border-box;
  color: white;
}